<ion-view view-title="{{song.meta.title}}">
  <ion-nav-buttons side="secondary">
    <a ng-click="song.favorite(song)"
       ng-class="{'ion-ios-star-outline': !song.isFavorite, 'ion-ios-star': song.isFavorite}"
       class="button button-clear button-icon icon"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <h3>{{song.meta.title}}</h3>
    <div id="content">
      <span class="line" ng-repeat="line in song.content track by $index">
        {{line}}
      </span>
    </div>
  </ion-content>
</ion-view>
